body {
    font-family: "Questrial", sans-serif;
    background-color: #fff;
    color: #333;
    line-height: 1.6;
    margin: 0;
}

nav {
    font-family: "Red Hat Text", sans-serif;
    font-weight: 400;
}

/* Encabezado principal */
header {
    background-image: url('../img/header-min.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 1);
}

.imagen-index {
    height: 21rem;
}

h1 {
    font-family: "Libre Baskerville", serif;
    font-weight: 600;
}

.btn {
    font-family: "Questrial", sans-serif;
    font-weight: 400;
}

/* Navegación */
nav {
    height: 10rem;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    background-color: #444;
    height: 6rem;
}

nav a {
    color: #ddd;
    text-decoration: none;
    padding: 0 15px;
}


article {
    margin-bottom: 20px;
    padding: 10px;
    border-bottom: 1px solid #e2e2e2;
}

#titulo-texto {
    font-family: "Libre Baskerville", serif;
    font-size: 19px;
    font-weight: 600;
}

/* Pie de página */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

header h1,
header p {
    text-shadow: 1px 1px 2px #333;
    /* Subtle text shadow for legibility */
}

button {
    background-color: #0d6efd;
    /* Complementary button color */
    background-image: linear-gradient(to bottom, #0d6efd, #0d6efd);
    /* Button gradient */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-weight: bold;
    text-shadow: 1px 1px 1px #000;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

button:hover {
    background-image: linear-gradient(to top, #0d6efd, #0d6efd);
    /* Inverted gradient on hover */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

ul {
    list-style-type: none;
    /* Removes the default bullet points */
    padding-left: 0;
    /* Removes the default padding */
}

ul li {
    margin-bottom: 15px;
    /* Adds space below each list item */
    padding-left: 15px;
    /* Optional: Adds some padding to the left of the list item */
    text-indent: -15px;
    /* Optional: Aligns the text correctly if padding is added */
}

ul li::before {
    /* content: "• "; Adds a bullet point before the item text */
    color: #333;
    /* Adjust the color to match your design */
    font-weight: bold;
    /* Optional: Makes the bullet point bold */
    padding-right: 5px;
    /* Adds space between the bullet point and the text */
}

.lead li {
    margin-bottom: 1rem;
    /* This sets a margin below each list item */
}

.msg-title-noticias,
.msg-body-noticias {
    font-size: 40px;
}

.msg-body-noticias {
    font-size: 22px;
}

main.container {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
}

main.container {
    ul li {
        margin-bottom: 0;
    }
}
div.container {
    ul li {
        margin-bottom: 0;
    }
}
header.py-5 {
    position: relative;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

header.py-5 h1 {
    position: relative;
    z-index: 1;
}
header.py-5 p {
    position: relative;
    z-index: 1;
}
header.py-5 li {
    position: relative;
    z-index: 1;
}
header.py-5 .btn {
    position: relative;
    z-index: 1;
}
header.py-5 .btn {
    margin-top: 50px;
}